
:root{
  --noColor: rgb(0,0,0,0);
  --background: #CACACB;
  --highlight: #9B9C9C;
  --fonts: #3F3F42;
  --buttons: #3F3F42;
  --buttonFonts: #CACACB;
  --buttonsHover: #7C7C7D;
  --borders: #FFFFFF;
  --violentCrime: rgb(214, 20, 0);
  --propertyCrime : rgb(12, 67, 206);
  --Burglary: rgb(0, 209, 114);
  --Larcenytheft: rgb(0, 195, 195);
  --Motorvehicletheft : rgb(7, 117, 201);
  --Aggravatedassault : rgb(255, 113, 0);
  --MurderManslaughter : rgb(255, 211, 85);
  --Rape: rgb(255, 188, 0);
  --Robbery: rgb(255, 154, 0);
}
body {
    background-color: var(--background);
    font-family: 'Quattrocento Sans', sans-serif;
}


#FBIlogo{
  position: absolute;
  height: 150px;
  width: 150px;
}

#FBIlogo:hover{
  cursor:pointer;
}

.legal{
  position: absolute;
  top: 10px;
  color: var(--buttonFonts);
  font-size: 12px;
  background-color: var(--noColor);
  border: none;
  z-index: 1;
}

.legal:hover{
  cursor:pointer;
}

#impressum{
  right: 15%;
}
#dataregulation{
  right: 5%;
}

h1{
  margin-left: -10%;
  text-align: center;
  padding-top: 50px;
  font-size: 30px;
  color: var(--fonts);
  height: 100px;
}

#mapHeadline{
  position: absolute;
  height: 190px;
  width: 600px;
  right: 0.56%;
  top: 1px;

}

#pageDescription{
  padding-top: 50px;
  padding-left: 100px;
  text-align: center;
}

#infotextshortText{
  position: absolute;
  width: 98.8%;
  height: 50%;
  top: 229px;
  left: 0.56%;
  padding-top: 10px;
  background-color: var(--buttons);
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  color: var(--buttonFonts);
  text-align: center;
  z-index: 4;
  opacity: 0;
  pointer-events: none;
}

.buttons button{
  background-color: var(--buttons);
  border: 1px solid var(--borders);
  padding: 10px 24px;
  color: var(--buttonFonts);
  cursor: pointer;
  float: left;
  width: 20%;
  z-index: 5;
}

.buttons button:not(:last-child){
  border-right: none;
}

.buttons button:hover{
  background-color: var(--buttonsHover);
}

#mainpage{
  position: absolute;
  width: 100%;
  height: 100%;
}

#map{
  position: absolute;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 960px;
  height: 520px;
  z-index: 0;
}

.stateInfo{
  position: absolute;
  margin-top: 11.5%;
  margin-left: 4%;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

.crimeInfo{
  position: absolute;
  margin-left: 5%;
  margin-top: 13%;
  font-size: 15px;
  font-weight: 100;
}

.menu{
  -moz-appearance: none;
-webkit-appearance: none;
appearance: none;
border: none;
width: 100%;
height: 40px;
padding-left: 10px;
background: var(--buttons) repeat;
color: var(--buttonFonts);
font-size: 16px;
box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
border-radius: 3px;
cursor:pointer;
}
.menu option{
  color: var(--buttons);
}

#dropDownMap{
  position: absolute;
  width: 300px;
  margin-top: 0%;
  margin-left: 3%;
}

#timeLineMap{
  position: absolute;
  margin-top: 1%;
  margin-left: 40%;
  height: 20%;
  width: 30%;
}

#playButtonMap{
  position: absolute;
  margin-top: 2%;
  margin-left: 35%;
}

#popup{
  position: absolute;
  background-color: var(--highlight);
  left: 5%;
  top: 30%;
  width: 90%;
  height: 60%;
  z-index:5;
  visibility: hidden;
}

.closeButton{
  position: absolute;
  top: 0%;
  right: 0%;
}


#stateInformation{
  background-color: var(--background);
  position: absolute;
  border: 1px solid red;
  left: 5%;
  top: 7.5%;
  width: 45%;
  height: 15%;
}


#tree{
  position: absolute;
  background-color: var(--background);
  border: 1px solid red;
  left: 5%;
  bottom: 5%;
  width: 45%;
  height: 70%;
}

#sunburst{
  position: absolute;
  background-color: var(--background);
  border: 1px solid red;
  right: 5%;
  top: 10%;
  width: 45%;
  height: 85%;
}
#bubblemenuPopUp{
  position: absolute;
  right: 5%;
}
#linediagram{
  position: absolute;
  left: 20%;
  z-index: 0;
}

#dropDownLineChart{
  position: absolute;
  width: 300px;
  margin-top: 0%;
  margin-left: 3%;
}

#bubblemenuLineChart{
  position: absolute;
  size: 110%;
  top: 10%;
}

#crimecorrelation{
  position: absolute;
  left: 5%;
  width: 90%;
  z-index: 0;

}

#universe{
  position: absolute;
  width: 100%;
  z-index: 0;
}


#colorlegend{
  position: absolute;
  left: 35%;
  top: 70%;
}

.ticks {
font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
stroke-linecap: round;
}

.track {
stroke: #000;
stroke-opacity: 0.3;
stroke-width: 10px;
}

.track-inset {
stroke: #dcdcdc;
stroke-width: 8px;
}

.track-overlay {
pointer-events: stroke;
stroke-width: 50px;
stroke: transparent;
cursor: pointer;
}

.handle {
fill: #fff;
stroke: #000;
stroke-opacity: 0.5;
stroke-width: 1.25px;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text { font: 12px sans-serif; }

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}


/*
#play-button {
background: #f08080;
padding-right: 26px;
border-radius: 3px;
border: none;
color: white;
margin: 0;
padding: 0 12px;
width: 60px;
cursor: pointer;
height: 30px;
}

#play-button:hover {
background-color: #696969;
}

.ticks {
font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
stroke-linecap: round;
}

.track {
stroke: #000;
stroke-opacity: 0.3;
stroke-width: 10px;
}

.track-inset {
stroke: #dcdcdc;
stroke-width: 8px;
}

.track-overlay {
pointer-events: stroke;
stroke-width: 50px;
stroke: transparent;
cursor: pointer;
}

.handle {
fill: #fff;
stroke: #000;
stroke-opacity: 0.5;
stroke-width: 1.25px;
}




path.state:hover {
  /*fill: black;*/
  /*stroke: black;*/

}


.stateHover {
background: rgba(0, 0, 0, 0.7);
padding:8px;
font-size:16px;
color:white;
letter-spacing:1px;
}


d3-tip:hover {

}
/*Staatenfarben in der Map für landanzeige*/
.state.q0{fill:#FFFD6D}
.state.q1{fill:#FDE563}
.state.q2{fill:#FACD58}
.state.q3{fill:#F8B54E}
.state.q4{fill:#F69D43}
.state.q5{fill:#F48539}
.state.q6{fill:#F16C2F}
.state.q7{fill:#EF5424}
.state.q8{fill:#ED3C1A}
.state.q9{fill:#EA2410}
.state.q10{fill:#E80C05}
/*Staatenfarben in der Map für skala*/
.state.p0{background-color:#FFFD6D}
.state.p1{background-color:#FDE563}
.state.p2{background-color:#FACD58}
.state.p3{background-color:#F8B54E}
.state.p4{background-color:#F69D43}
.state.p5{background-color:#F48539}
.state.p6{background-color:#F16C2F}
.state.p7{background-color:#EF5424}
.state.p8{background-color:#ED3C1A}
.state.p9{background-color:#EA2410}
.state.p10{background-color:#E80C05}

#infopage{
  position: absolute;
  margin-top: auto;
  height: auto;
  width: 30%;
  background-color: var(--buttons);
  color: var(--buttonFonts);
  z-index: 5;
}


#closeButton{
  position: absolute;
  left: 95%;
  top: 2%;
}

#infoButton{
  position: absolute;
  bottom: 1%;
  left: 1%;
}


path.state {
  fill: teal;
  stroke: white;
  -webkit-transition: fill 0.5s ease-out;
  -moz-transition: fill 0.5s ease-out;
  -o-transition: fill 0.5s ease-out;
  -ms-transition: fill 0.5s ease-out;
  transition: fill 0.5s ease-out;
  /*cursor: -webkit-zoom-in; cursor: -moz-zoom-in;*/
  /*cursor: -webkit-zoom-out; cursor: -moz-zoom-out;*/
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  font-style: italic;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
