
:root{
  --noColor: rgb(0,0,0,0);
  --background: #CACACB;
  --highlight: #9B9C9C;
  --fonts: #3F3F42;
  --buttons: #3F3F42;
  --buttonFonts: #CACACB;
  --buttonsHover: #7C7C7D;
  --borders: #FFFFFF;
  --infobox: #5F5F61;
  --violentCrime: rgb(214, 20, 0);
  --propertyCrime : rgb(12, 67, 206);
  --Burglary: rgb(0, 209, 114);
  --Larcenytheft: rgb(0, 195, 195);
  --Motorvehicletheft : rgb(7, 117, 201);
  --Aggravatedassault : rgb(255, 113, 0);
  --MurderManslaughter : rgb(255, 211, 85);
  --Rape: rgb(255, 188, 0);
  --Robbery: rgb(255, 154, 0);
}
body {
  background-color: var(--background);
  font-family: 'Overpass', sans-serif;
  overflow:hidden;
}

p{
  margin-top: 0px;
}

.headline{
  position: fixed;
  font-family: 'Chivo', sans-serif;
  left: 0px;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 20%;
}

#FBIlogo{
  position: absolute;
  top: 5%;
  height: 90%;
  width: auto;
  left: 1%;
  z-index: 1;
}

#FBIlogo:hover{
  cursor:pointer;
}

.legal{
  position: absolute;
  top: 10px;
  color: var(--buttonFonts);
  font-size: 12px;
  background-color: var(--noColor);
  border: none;
  cursor:pointer;
  z-index: 1;
}

.legal:hover{
  transition-duration: 0.5s;
  font-size: 14px;
}

#impressum{
  right: 15%;
}
#dataregulation{
  right: 5%;
}

#pageHeadline{
  position: absolute;
  text-align: center;
  padding-left: 20%;
  padding-top: 3%;
  font-size: 30px;
  color: var(--fonts);
  text-shadow: 2px 2px 5px var(--buttonsHover);
}

#mapHeadline{
  position: absolute;
  height: 100%;
  width: 600px;
  right: 0%;
  top: 1px;
}

.buttons{
  position: fixed;
  left: 0px;
  top: 20%;
  height: 100%;
  width: 100%;
}

.buttons button{
  font-family: 'Chivo', sans-serif;
  background-color: var(--buttons);
  border: 1px solid var(--borders);
  color: var(--buttonFonts);
  cursor: pointer;
  float: left;
  width: 20%;
  height: 5%;
  z-index: 5;
}

.buttons button:not(:last-child){
  border-right: none;
}

.buttons button:hover{
  background-color: var(--buttonsHover);
}

#pageDescription{
  position: fixed;
  left: 0px;
  top: 25%;
  width: 100%;
  height: 3%;
  padding-top: 1%;
  text-align: center;
  color: var(--fonts);
  font-size: 90%;
  z-index: 1;
}

#infotextshortText{
  position: absolute;
  font-family: 'Chivo', sans-serif;
  width: 100%;
  height: 50%;
  top: 25%;
  left: 0%;
  padding-top: 1%;
  background-color: var(--buttons);
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  color: var(--buttonFonts);
  text-align: center;
  z-index: 4;
  opacity: 0;
  pointer-events: none;
}

#mainpage{
  position: fixed;
  left: 0px;
  top: 30%;
  width: 100%;
  height: 70%;
}

.playButton{
  border: 0;
  background: transparent;
  background-image:url('../pictures/play.png');
  background-repeat:no-repeat;
  width:32px;
  height:32px;
  cursor:pointer;
}

.playButton:hover{
	opacity:0.4;
}

.pauseButton{
	border: 0;
  background: transparent;
  background-image:url('../pictures/pause.png');
  background-repeat:no-repeat;
  width:32px;
  height:32px;
  cursor:pointer;
}

.pauseButton:hover{
	opacity:0.4;
}

.buttonLabel{
  top: -10%;
}

#map{
  position: absolute;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 960px;
  height: 520px;
  z-index: 0;
}

#stateInfoMapId{
  position: absolute;
  margin-left: 3%;
  margin-top: 10%;
  font-size: 14px;
}

#stateInfoMapId:hover{
  transition-duration: 0.5s;
  font-size: 16px;
}

.crimeInfo{
  position: absolute;
  margin-left: 4%;
  margin-top: 13%;
  font-size: 12px;
  font-weight: 100;
}

.crimeInfo:hover{
  transition-duration: 0.5s;
  font-size: 14px;
}

.menu{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  background: var(--buttons) ;
  color: var(--buttonFonts);
  font-size: 16px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
  border-radius: 3px;
  cursor:pointer;
  outline: none;
}

#dropDownMap{
  position: absolute;
  width: 15%;
  left: 3%;
}

#timeLineMap{
  position: absolute;
  top: -5%;
  margin-left: 40%;
  height: 15%;
  width: 30%;
}

#playButtonMap{
  position: absolute;
  margin-top: 2%;
  margin-left: 35%;
}

#colorlegendMap{
  position: absolute;

  bottom: 0%;
  right: 1%;
}

#popup{
  position: absolute;
  background-color: var(--highlight);
  left: 5%;
  top: 27%;
  width: 90%;
  height: 70%;
  z-index:3;
  visibility: hidden;
}

#infotextpageDescriptionPopup{
  position: absolute;
  left: 2%;
  top: 38px;
  left: 35%;
  font-size: 14px;
  font-weight: 60;
}

#stateInfoPopUpId{
  position: absolute;
  top: 3px;
  left: 45%;
  font-family: 'Chivo', sans-serif;
  font-size: 18px;
  font-weight: 100;
}

#tree{
  position: absolute;
  left: 0%;
  bottom: 5%;
  width: 60%;
  height: 80%;
}

#sunburst{
  position: absolute;
  right: 0%;
  top: 10%;
  width: 40%;
  height: 85%;
}

#dropDownPopUp{
  position: absolute;
  width: 300px;
  top: 40px;
  margin-left: 3%;
}

#bubblemenuPopUp{
  position: absolute;
  right: 1%;
  top: 15%;
}

#closeButtonPopUp{
  position: absolute;
  cursor:pointer;
  top: 15px;
  right: 25px;
}

#linediagram{
  position: absolute;
  left: 20%;
  z-index: 0;
}

#dropDownLineChart{
  position: absolute;
  width: 15%;
  margin-top: 0%;
  margin-left: 3%;
}

#bubblemenuLineChart{
  position: absolute;
  size: 110%;
  top: 15%;
  left: 2%;
}

#crimecorrelation{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#colorlegendCorrelationsPositive{
  position: absolute;
  bottom: 0%;
  right: 15%;

}

#colorlegendCorrelationsNegative{
  position: absolute;
  bottom: 0%;
  left: 15%;

}

#universe{
  position: absolute;
  width: 100%;
  height: 90%;
  top: 10%;
  z-index: 0;
}

#colorlegendUniverse{
  position: absolute;
  left: 35%;
  bottom: 0%;
  width: 450px;
}

#timeLineUniverse{
  position: absolute;
  top: -5%;
  left: 2%;
  width: 30%;
}

#playButtonUniverse{
  position: absolute;
  top: 1%;
  height: 10%;
  left: 30%;
}

.bubble:hover{
  cursor: pointer;
}

.label{
  font-size: 12px;
}

.ticks {
font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
stroke-linecap: round;
}

.track {
stroke: #000;
stroke-opacity: 0.3;
stroke-width: 10px;
}

.track-inset {
stroke: #dcdcdc;
stroke-width: 8px;
}

.track-overlay {
pointer-events: stroke;
stroke-width: 50px;
stroke: transparent;
cursor: pointer;
}

.handle {
fill: #fff;
stroke: #000;
stroke-opacity: 0.5;
stroke-width: 1.25px;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text { font: 12px sans-serif; }

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}

.stateHover {
background: rgba(0, 0, 0, 0.7);
padding:8px;
font-size:16px;
color:white;
letter-spacing:1px;
}


d3-tip:hover {

}
/*Staatenfarben in der Map für landanzeige*/
.state.q0{fill:#FFFD6D}
.state.q1{fill:#FDE563}
.state.q2{fill:#FACD58}
.state.q3{fill:#F8B54E}
.state.q4{fill:#F69D43}
.state.q5{fill:#F48539}
.state.q6{fill:#F16C2F}
.state.q7{fill:#EF5424}
.state.q8{fill:#ED3C1A}
.state.q9{fill:#EA2410}
.state.q10{fill:#E80C05}
/*Staatenfarben in der Map für skala*/
.state.p0{background-color:#FFFD6D}
.state.p1{background-color:#FDE563}
.state.p2{background-color:#FACD58}
.state.p3{background-color:#F8B54E}
.state.p4{background-color:#F69D43}
.state.p5{background-color:#F48539}
.state.p6{background-color:#F16C2F}
.state.p7{background-color:#EF5424}
.state.p8{background-color:#ED3C1A}
.state.p9{background-color:#EA2410}
.state.p10{background-color:#E80C05}

#infopage{
  position: absolute;
  height: auto;
  width: 40%;
  bottom: 5%;
  background-color: var(--infobox);
  color: var(--buttonFonts);
  z-index: 5;
}

#infobox{
  margin: 6% 8% 8% 6%;
  text-align: justify;
}

#closeButtonInfoPage{
  position: absolute;
  right: 3%;
  top: 3%;
  cursor:pointer;
}

#infoButton{
  position: absolute;
  bottom: 1%;
  left: 1%;
  cursor:pointer;
}

#infoButton:hover{
  opacity: 0.4;
  border: none;
}

path.state {
  fill: teal;
  stroke: white;
  -webkit-transition: fill 0.5s ease-out;
  -moz-transition: fill 0.5s ease-out;
  -o-transition: fill 0.5s ease-out;
  -ms-transition: fill 0.5s ease-out;
  transition: fill 0.5s ease-out;
  /*cursor: -webkit-zoom-in; cursor: -moz-zoom-in;*/
  /*cursor: -webkit-zoom-out; cursor: -moz-zoom-out;*/
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  font-style: italic;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#infotextImpressumPage{
  margin-left: 5%;
  margin-right: 5%;
  font-size: 12px;
  text-decoration: none;
  text-align: justify;
  color: var(--fonts);
}

#infotextdataRegulationPage{
  margin-left: 5%;
  margin-right: 5%;
  font-size: 12px;
  text-decoration: none;
  text-align: justify;
  color: var(--fonts);
}

a{
  text-decoration: none;
  color: var(--fonts);
}

.startContainer{
  position: absolute;
  top: 10%;
  width: 300px;
  height: 150px;
  color: var(--background);
  font-size: 0px;
  cursor: pointer;
}

.startPics{
  width: 300px;
  height: 150px;
  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border: 7px solid var(--buttons);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#startMap{
  left: 2.5%;
}

#startLineChart{
  left: 27.5%;
}

#startCorr{
  left: 52.5%;
}

#startUniverse{
  left: 77.5%;
}

#startMap:hover{
     transition-duration: 3s;
     background: linear-gradient(var(--background),var(--buttons), var(--background));
     left: 7.5%;
     width: 85%;
     height: 70%;
     padding-left: 2%;
     padding-top: 2%;
     font-size: 14px;
     z-index: 5;
}

#startLineChart:hover{
     transition-duration: 3s;
     background: linear-gradient(var(--background),var(--buttons), var(--background));
     left: 7.5%;
     width: 85%;
     height: 70%;
     padding-left: 2%;
     padding-top: 2%;
     font-size: 14px;
     z-index: 5;
}

#startCorr:hover{
     transition-duration: 3s;
     background: linear-gradient(var(--background),var(--buttons), var(--background));
     left: 7.5%;
     width: 85%;
     height: 70%;
     padding-left: 2%;
     padding-top: 2%;
     font-size: 14px;
     z-index: 5;
}

#startUniverse:hover{
     transition-duration: 3s;
     background: linear-gradient(var(--background),var(--buttons), var(--background));
     left: 7.5%;
     width: 85%;
     height: 70%;
     padding-left: 2%;
     padding-top: 2%;
     font-size: 14px;
     z-index: 5;
}

.startText{
  padding-top: 3%;
}
