
:root{
  --background: #CACACB;;
  --fonts: #3F3F42;
  --buttons: #9C9C9C;
  --buttonsHover: #7C7C7D;
  --borders: #FFFFFF;
  --violentCrime: rgb(214, 20, 0);
  --propertyCrime : rgb(12, 67, 206);
  --Burglary: rgb(0, 209, 114);
  --Larcenytheft: rgb(0, 195, 195);
  --Motorvehicletheft : rgb(7, 117, 201);
  --Aggravatedassault : rgb(255, 113, 0);
  --MurderManslaughter : rgb(255, 211, 85);
  --Rape: rgb(255, 188, 0);
  --Robbery: rgb(255, 154, 0);



}


body {
    background-color: var(--background);
  /*  font-family: 'Quattrocento Sans', sans-serif;*/
}

#myChart div {
    background-color: aliceblue;
    margin: 2px;
}

#myChart rect {
    fill: steelblue;
}

#myChart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
}

h1{
  margin: auto;
  text-align: center;
  color: var(--fonts);
  height: 50px;
}

.buttons button{
  background-color: var(--buttons);
  border: 1px solid var(--borders);
  padding: 10px 24px;
  color: var(--fonts);
  cursor: pointer;
  float: left;
  width: 25%;
  z-index: 5;
}

.buttons button:not(:last-child){
  border-right: none;
}

.buttons button:hover{
  background-color: var(--buttonsHover);
}

svg{
  position: absolute;
}

#dochart{
  height: 50px;
  text-align: center;
}

#map{
  background-color: pink;
  top: 124px;
  left: 5%;
  width: 90%;
  height: 520px; /*angepasst an Chris Kartenformat*/
  z-index: 0;
  visibility: hidden;
}

#popup{
  position: absolute;
  left: 10%;
  background-color: green;
  top: 134px;
  width: 80%;
  height: 500px;
  z-index:1;
  visibility: hidden;
}

.closeButton{
  position: absolute;
  top: 0%;
  right: 0%;
}

#stateInformation{
  background-color: var(--background);
  position: absolute;
  border: 1px solid red;
  left: 5%;
  top: 7.5%;
  width: 45%;
  height: 15%;
}

#tree{
  background-color: var(--background);
  border: 1px solid red;
  left: 5%;
  bottom: 5%;
  width: 45%;
  height: 70%;
}

#sunburst{
  background-color: var(--background);
  border: 1px solid red;
  right: 5%;
  top: 10%;
  width: 45%;
  height: 85%;
}

#universe{
  background-color: yellow;
  top: 124px;
  left: 5%;
  width: 90%;
  height: 520px;
  z-index: 0;
  visibility: hidden;
}

#theforce{
  position: absolute;
  background-color: red;
  top: 124px;
  left: 5%;
  width: 90%;
  height: 520px;
  z-index: 0;
  visibility: hidden;
}

#linediagram{
  position: absolute;
  background-color: blue;
  top: 124px;
  left: 5%;
  width: 90%;
  height: 520px;
  z-index: 0;
  visibility: visible;
}
